@import "tailwindcss";

html {
  overflow-y: scroll; /* Always show vertical scrollbar */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Floor component styles */
svg .highlight-apartment {
  fill: #008000;
  fill-opacity: 0.2;
  transition: fill-opacity 0.3s;
}

svg .no-highlight {
  opacity: 0;
}

svg .highlight-apartment:hover {
  fill-opacity: 0.5 !important;
  cursor: pointer;
}

svg .apartment-sold {
  fill: #cf8c4d;
  fill-opacity: 0.2;
}