@import "tailwindcss";

@layer base {
  html {
    overflow-y: scroll; /* Always show vertical scrollbar */
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    min-height: 100vh;
  }
}

@layer components {
  .btn-dark {
    @apply text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700;
  }

  .footer-gray {
    @apply bg-gray-50 text-white;
  }
}

/* Floor component styles */
svg .highlight-apartment {
  fill: #008000;
  fill-opacity: 0.2;
  transition: fill-opacity 0.3s;
}

svg .no-highlight {
  opacity: 0;
}

svg .highlight-apartment:hover {
  fill-opacity: 0.5 !important;
  cursor: pointer;
}

svg .apartment-sold {
  fill: #cf8c4d;
  fill-opacity: 0.2;
}

