---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Apartamente - Nosto">
    <section class="py-10">
        <h1 class="text-3xl font-bold text-center mb-4 flex items-center justify-center gap-2">
            <Icon
              name="mdi:building"
              class="h-6 w-6 flex-shrink-0 text-primary"
            />
            Apartamente
        </h1>
    </section>
</Layout>