---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact - Nosto">
    <section class="py-10">
        <h1 class="text-3xl font-bold text-center mb-4">Contact</h1>
    </section>
</Layout>