---
import Layout from '../layouts/Layout.astro';
import Location from '../components/Location.astro';
import SectionTitle from '../components/SectionTitle.astro';
import { sanityClient } from 'sanity:client';
import urlForImage from '../utils/sanityImageUrl';
import HorizontalArticles from '../components/HorizontalArticles.astro';

const query = `*[_type == "location"]|order(title asc){title,description,image}`;
const locations = await sanityClient.fetch(query);
const articles = locations.map((location: { title: string; description: string; image: any }) => ({
  imageUrl: location?.image ? urlForImage(location.image)?.url() : null,
  text: location.description,
  title: location.title,
}));
---

<Layout title="Locatie - Nosto">
  <SectionTitle title="Locație si mobilitate" id="location-title" />
  <div class="section-x-padding">
    <p class="mb-10">
      Zonă protejată de zgomotul și agitația arterelor principale, la câteva minute de centrul
      orașului și principalele atracții din Timișoara, cartierul Plopi este liniștit, predominant
      rezidențial, cu acces foarte bun. Cartier cu densitate mică - nu suprapopulat - închegat din
      punct de vedere urbanistic - parcelele învecinate ocupate de construcții - elimină deranjul
      provocat de șantiere viitoare
    </p>
    <Location showGoogleMapsLink={true} />
  </div>
  <HorizontalArticles
    articles={articles}
    sectionClass="pt-8 section-x-padding-left md:overflow-x-visible"
  />
</Layout>
