---
import type { SanityDocument } from '@sanity/client';
import { sanityClient } from 'sanity:client';
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import SectionTitle from '../components/SectionTitle.astro';
import HorizontalArticles from '../components/HorizontalArticles.astro';
import heroSantier from '../assets/hero-santier.jpg';
import urlForImage from '../utils/sanityImageUrl';

const query = `*[
  _type == "newsPost"
  && defined(slug.current)
]|order(date desc)[0...12]{_id, title, slug, date, text, image}`;

const posts = await sanityClient.fetch<SanityDocument[]>(query);

// Transform posts to match the component interface
const articles = posts.map((post) => ({
  ...post,
  imageUrl: post?.image
    ? urlForImage(post.image)?.auto('format').width(600).height(400).url()
    : null,
  title: new Date(post.date).toLocaleString('ro-RO', {
    month: 'long',
    year: 'numeric',
  }),
  text: post.text,
}));
---

<Layout title="Noutati - Nosto">
  <section id="hero" class="section-x-padding py-8">
    <div class="w-full h-[300px] relative overflow-hidden rounded-tr-[6rem]">
      <Image src={heroSantier} alt="Stadiu Șantier" class="w-full h-full object-cover" />
      <div class="absolute inset-0 flex items-center justify-center bg-opacity-30">
        <h2 class="font-medium text-center">Stadiu Șantier</h2>
      </div>
    </div>
    <p class="pt-8 text-justify">
      Am început lucrările in cursul lunii iunie 2025. S-a realizat săpătura generală și
      îmbunătățirea terenului de fundare prin realizarea unui blocaj de piatră. In cursul lunii
      iulie vom finaliza fundațiile - radierul general
    </p>
  </section>

  <SectionTitle title="Timeline" id="timeline-title" />

  <HorizontalArticles
    articles={articles}
    sectionClass="md:overflow-x-visible"
    containerClass="pl-6 md:pl-[70px]"
  />
</Layout>
