---
import { Icon } from "astro-icon/components";

const currentYear = new Date().getFullYear();
---

<footer class="footer-gray">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-2">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h3 class="text-xl mb-4 text-black">NOSTO</h3>
        <div class="flex flex-col gap-2 text-gray-600">
          <p class="flex items-center gap-2"><Icon name="mdi:phone" class="h-4 w-4" />+40 123 456 789</p>
          <p class="flex items-center gap-2"><Icon name="mdi:email" class="h-4 w-4" />contact@nosto.ro</p>
          <p class="flex items-center gap-2"><Icon name="mdi:home" class="h-4 w-4" />Adresa</p>
        </div>
      </div>
  </div>
</footer>