---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { ClientRouter } from 'astro:transitions';
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ro" class="!scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <ClientRouter />
    <script>
      console.log('ClientRouter loaded');
      document.addEventListener('astro:before-preparation', () =>
        console.log('Before preparation')
      );
      document.addEventListener('astro:after-preparation', () => console.log('After preparation'));
      document.addEventListener('astro:before-swap', () => console.log('Before swap'));
      document.addEventListener('astro:after-swap', () => console.log('After swap'));
      document.addEventListener('astro:page-load', () => console.log('Page loaded'));
    </script>
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans flex flex-col min-h-screen">
    <Navbar transition:persist />
    <main class="pt-16 flex-grow mb-16">
      <slot />
    </main>
    <Footer transition:persist />
    <Analytics client:idle />
    <SpeedInsights client:idle />
  </body>
</html>
